doctype html
html(lang="en")
    head  
        style 
            include ../public/css/partial.css
        block style 
        <link rel="apple-touch-icon" sizes="180x180" href="http://localhost:80/public/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="http://localhost:80/public/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="http://localhost:80/public/favicon/favicon-16x16.png">
        <link rel="manifest" href="http://localhost:80/public/favicon/site.webmanifest">
        <link rel="mask-icon" href="http://localhost:80/public/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
    body 
    p(id = "name90" style = "display : none;") #{name}
        if typeof show != "undefined"
            nav
                h1 Pocket Chat
                ul
                    li 
                        a(href="/") 
                            img(src="https://res.cloudinary.com/yash3002/image/upload/v1627214768/home_z2zeuu.png", alt="home")
                    if typeof profile != "undefined"
                        li
                            a(href="/profile")
                                img(src="https://res.cloudinary.com/yash3002/image/upload/v1627214768/profile_kxrtrp.png", alt="PROFILE")
                        li 
                            a(href="/feed")
                                img(src="https://res.cloudinary.com/yash3002/image/upload/v1627214768/feed_by7a9m.png", alt="FEED")
                        li 
                            a(href="/user")
                                    img(src="https://res.cloudinary.com/yash3002/image/upload/v1627214768/finduser_nhzioo.png", alt="USER")
                        li 
                            a(href="/about") 
                                img(src="https://res.cloudinary.com/yash3002/image/upload/v1627214768/aboutUs_yp5idx.png", alt="about Us")
                    else 
                        li 
                            a(href="/about")
                                    img(src="https://res.cloudinary.com/yash3002/image/upload/v1627214768/aboutUs_yp5idx.png", alt="about Us")

                    if typeof flag != "undefined"
                        li
                            a(href="/logout")
                                    img(src="https://res.cloudinary.com/yash3002/image/upload/v1627214768/log-out_msjnre.png", alt="log-out")
                    else
                        li
                            a(href="/login")
                                    img(src="https://res.cloudinary.com/yash3002/image/upload/v1627214768/log-in_elcsuc.png", alt="login")
                //- img(id = "menu" src="../public/menuIcon.png", alt="", srcset="")
        else 
            nav
                h1 Pocket Chat
                ul
                    li 
                        a(href="/") 
                            img(src="https://res.cloudinary.com/yash3002/image/upload/v1627214768/home_z2zeuu.png", alt="HOME")
                    li 
                        a(href="/about") 
                            img(src="https://res.cloudinary.com/yash3002/image/upload/v1627214768/aboutUs_yp5idx.png", alt="about Us")

                //- img(id = "menu" src="../public/menuIcon.png", alt="", srcset="")
        
        block content
            block content

    footer
        h3 
            a(href="www.pocketchat30@gmail.com") All right reserved &copy Yashwant Sahu
    script(src="/socket.io/socket.io.js")        
    block script
    script(src="../public/js/header.js")